/* GRID SETUP AND LAYOUT*/
.container {
    background-color: black;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem 1rem;
}

.container>button {
    border: 2px solid black;
    border-radius: 10px;
    color: #FEFAE0;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

.clear {
    grid-row: 3/5;
    grid-column: 4/5;
}

.decimal {
    grid-row: 6/7;
    grid-column: 3/4;
}

.equals {
    grid-row: 5/7;
    grid-column: 4/5;
}

.zero {
    grid-row: 6/7;
    grid-column: 1/3;
}

/* STYLING OF BUTTONS AND DISPLAY*/
.container>button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.display {
    background: #fefae0;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 8rem;
    grid-column:  1/5;
    text-align: right;
}

.function {
    background-color: #BC6C25;
}

.layout {
    background-color: #838383;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 10vh 80vh 10vh;
}

.number {
    background-color: #606C38;
}

.utility {
    background-color: #242424;
}
